/* phone styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5eaf0;
}
.phone{
  max-width: 450px;
  width: 100%;
  margin: auto;
  height: 90vh;
  border-radius: 20px;
  padding: 15px 10px;
  overflow: hidden;
  box-shadow: 3px 6px 10px gray;
  position: relative;
}

/* Header stylings */

.header {
  display: flex;
  flex-direction: column;
  background-color: #fffffe;
  border-radius: 20px 20px 0 0;

}
.header .top{
  padding: 5px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 30px;
}
.header .time{
  padding: 0 4px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .top .notch{
  flex: 1;
  height: 100%;
  background-color: #e5eaf0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header .notch .earpiece{
  display: block;
  width: 50px;
  height: 10px;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px 2px rgb(178, 178, 178);
}
.header .notch .microphone{
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px 2px rgb(178, 178, 178);

}

.header .icons{
  width: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.header .bottom{
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}
.header .backArrow,
.header .toggle{
  cursor: pointer;
  color: #c2c8cd;
  font-weight: 800;
  font-size: 1.4rem;
}
.header .bottom .walletName{
  flex: 1;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  color: #566170;

}

/* end of header stylings */

.top-layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left {
  display: flex;
  align-items: center;
}
.top-right,
.top-right > * {
  margin-left: 10px;
}

.bottom-layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.left,
.right {
  display: flex;
  align-items: center;
  padding: 5px;
}

.center {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

/* Body */
/* UpperBody */
/* UpperBody.css */

.upper-body {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bitcoin-icon {
  font-size: 24px;
  margin-right: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.symbol {
  font-size: 16px;
  color: #888;
}

.percentage-decrease {
  color: #f00;
  margin-left: 10px;
}

.arrow-down {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #f00;
  width: 0;
  height: 0;
}

/* footer stylings */

.footer {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 20px);
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
}
.footer .icons{
  display: flex;
  background-color: #fffffe;
  padding: 15px 0 5px 0;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

}
.footer .icons > *{
  font-size: 1.5rem;
  color: #c2c8cd;
}
.footer .icons > :first-child{
  color: black;
}

.footer .notch{
  display: flex;
  width: 100%;
  background-color: white;
  height: 20px;
  border-radius: 0 0 20px 20px;
}
.footer .notch span{
  display: block;
  margin: auto;
  width: 150px;
  height: 7px;
  border-radius: 100px;
  background-color: gray;
}



